<!-- Main Wrapper -->
<div class="main-wrapper">


    <!-- Page Content -->
    <div class="content">
        <div class="container-fluid">

            <div class="row">
                <div class="col-md-5 col-lg-4 col-xl-3 theiaStickySidebar">

                    <app-sidenav></app-sidenav>
                </div>

                <div class="col-md-7 col-lg-8 col-xl-9">

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title">Calendrier des horaires du {{this.vari.firstdate | date:"mediumDate"}} au {{this.vari.lastdate | date:"mediumDate"}}</h4>
                                    <div class="profile-box">
                                        <div class="row">

                                            <div class="col-lg-4">
                                                <div class="form-group">
                                                    <label>Durée du créneaux horaire</label>
                                                    <select [(ngModel)]="search" (change)="filter()" name="search" class="select form-control">
                                                        <option value="">Tout</option>
                                                        <option value="15">15 mins</option>
                                                        <option value="30">30 mins</option>  
                                                        <option value="45">45 mins</option>
                                                        <option value="60">1 heure</option>
                                                        <option value="120">2 heures</option>
                                                    </select>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="card schedule-widget mb-0">
                                                    <!-- Schedule Header -->
                                                    <div class="schedule-header">
                                                        <!-- Schedule Nav -->
                                                        <div class="schedule-nav">
                                                            <ul class="nav nav-tabs nav-justified">
                                                                <li class="nav-item" *ngFor="let day of days; let i=index">
                                                                    <a (click)="setPosSlot(i)" [ngClass]="{'nav-link':true,'active':isDateToday(i)}" data-bs-toggle="tab" href="#slot_day{{i}}">{{day}}</a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                        <!-- /Schedule Nav -->
                                                    </div>
                                                    <!-- /Schedule Header -->

                                                    <!-- Schedule Content -->
                                                    <div class="tab-content schedule-cont">
                                                        <div id="slot_day{{i}}" [ngClass]="{'tab-pane fade':true, 'show active':i==posSlot} " *ngFor="let day of days; let i=index">
                                                            <h4 class="card-title d-flex justify-content-between">
                                                                <span>Créneaux horaires</span>
                                                                <a class="edit-link" data-bs-toggle="modal" href="#edit_time_slot"><i class="fa fa-edit me-1"></i>Ajouter</a>
                                                            </h4>
                                                            <!-- Slot List -->
                                                            <div class="doc-times">
                                                                <div *ngFor="let slot of allSlots; let k=index">
                                                                    <div class="doc-slot-list" *ngIf="slot.datecreation.toString().substring(0,10)==getDateIndex(posSlot).toString()">
                                                                        <ng-container>
                                                                            {{slot.heuredebut.substring(0,5)}} - {{slot.heurefin.substring(0,5)}}
                                                                            <a class="delete_schedule">
                                                                                <i class="fa fa-times"></i>
                                                                            </a>
                                                                        </ng-container>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!-- /Slot List -->

                                                        </div>
                                                        <!-- /Monday Slot -->


                                                    </div>
                                                    <!-- /Schedule Content -->

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>

    </div>
    <!-- /Page Content -->
</div>
<!-- /Main Wrapper -->
<!-- Edit Time Slot Modal -->
<div class="modal fade custom-modal" id="edit_time_slot">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Créneaux horaires</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- <form> -->
                <div *ngFor="let timing of lesinputs; let i=index">
                    <div class="row form-row hours-cont">
                        <div class="col-12 col-md-10">
                            <div class="row form-row">
                                <div class="col-12 col-md-6">
                                    <div class="form-group">
                                        <label>heure de debut</label>
                                        <input [(ngModel)]="lesinputs[i]['heuredebut']" class="form-select form-control" type="time">
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="form-group">
                                        <label>heure de fin</label>
                                        <input [(ngModel)]="lesinputs[i]['heurefin']" class="form-select form-control" type="time">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div (click)="removeInput(i)" class="col-12 col-md-2"><label class="d-md-block d-sm-none d-none">&nbsp;</label><button class="btn btn-danger trash"><i class="far fa-trash-alt"></i></button></div>
                    </div>
                </div>
                <div class="add-more mb-3">
                    <button (click)="addInput()" class="add-hours btn" style="color: blue;"><i class="fa fa-plus-circle"></i> Add More</button>
                </div>
                <div class="submit-section text-center">
                    <button (click)="addRV(posSlot)" type="submit" class="btn btn-primary submit-btn" data-bs-dismiss="modal">Changer</button>
                </div>
                <!-- </form> -->
            </div>
        </div>
    </div>
</div>

<!-- <button (click)="showSuccess()">yesssssssssss</button> -->

<!-- /Edit Time Slot Modal -->